.footer-content{
  background-color: #3f51b5;
  height: calc(100vh - 70vh - 80px);
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 2rem;
}

.footer-bottom{
  background-color: rgb(1,43,1);
  height: 70px;
}
