.product-details-title ul li a
{
  text-decoration: none;
  color: inherit;
}

.single-product-details-container
{
  padding: 10px;
  border: 0.1px solid #ccc;
  margin-bottom: 50px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.product-details-title ul li
{
  background-color: #ccc;
  padding: 5px;
}
