<div class="single-product-details-container content">
  <div class="product-details-title">
    <ul class="flex unlisted gap-10">
      <li><a>Description</a></li>
      <li><a>Additionnal Info</a></li>
      <li><a>Reviews</a></li>
    </ul>
  </div>

<div class="product-details-infos">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia esse fugiat, provident recusandae, earum quisquam vel repudiandae incidunt numquam iusto mollitia commodi sapiente quae expedita maxime consectetur ratione at corrupti odio voluptatibus totam harum nostrum nihil veritatis. Beatae ipsa recusandae architecto ullam veritatis et placeat delectus incidunt. Quod, optio amet voluptate aliquid maxime libero quia sint eveniet minima doloribus nesciunt iure tempore dignissimos natus quas quis, minus culpa aperiam unde obcaecati harum. Corporis non illum incidunt quasi aspernatur obcaecati quo, porro voluptate neque, ad tempore? Possimus soluta nemo molestiae dolorem laborum consequatur debitis, maiores delectus reprehenderit incidunt? Exercitationem, sapiente officiis?
</div>

</div>
