.single-product
{
  margin-bottom: 20px;
  margin-top: 20px;
}

.single-product .single-product-image
{
  justify-content: flex-end;
}

.single-product .single-product-image img
{
  width: 400px;
}

@media screen and (max-width: 900px) {
    .single-product{
      flex-direction: column-reverse;
    }

    .single-product .single-product-image
    {
      justify-content: center;
    }
}

@media screen and (max-width: 450px) {
  .single-product .single-product-image img
  {
    width: 95%;
  }
}
