<div class="single-product flex gap-10 content">
  <div class="single-product-image flex flex-1">
    <img
      [src]="product ? product.imageUrl[0] : ''" [alt]="product?.name"
    >
  </div>
  <div class="single-product-details flex-1">
    <h2>{{ product?.name }}</h2>
    <div class="single-product-details-price">
      <del>
        <h4>{{ (product?.sold_price || 0)/100 | currency:"EUR"}}</h4>
      </del>
      <h4>{{ (product?.regular_price || 0)/100 | currency:"EUR"}}</h4>
    </div>
    <div class="single-product-details-created-at">
      Créé le {{ product?.created_at | date:"dd/MM/YYYY" }}
    </div>
    <div class="product-action-button flex">
      <button class="btn">
        Pay now
      </button>
    </div>
  </div>
</div>
