<div class="signup">
  <div class="form-container">
    <form action="">
      <h2>Inscription</h2>
      <div class="form-line flex gap-10">
        <input
          type="text"
          name="firstname"
          placeholder="Your first name..."
          class="flex-1"
        >
        <input
          type="text"
          name="lastname"
          placeholder="Your last name..."
          class="flex-1"
        >
      </div>
      <div class="form-line flex">
        <input class="flex-1" type="email" name="email" placeholder="Your email...">
      </div>
      <div class="form-line flex">
        <input class="flex-1" type="password" name="password" placeholder="Your password...">
      </div>
      <div class="form-line flex">
        <input class="flex-1" type="password" name="passwordConfirm" placeholder="Confirm your password...">
      </div>
      <div class="button flex">
        <button class="btn flex-1">S'inscrire</button>
      </div>
    </form>
  </div>
</div>
