@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');

body{
  margin: 0;
  padding: 0;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-style: normal;
  font-weight: 400;
}

.b{
  border: 0.1px solid black;
}

.flex, .row{
  display: flex;
}

.flex-1{
  flex: 1;
}

.flex-2{
  flex: 2;
}

.aic{
  align-items: center;
}

.jcc{
  justify-content: center;
}

.column{
  flex-direction: column;
}

.btn{
  height: 40px;
  min-width: 150px;
  padding: 10px;
  margin: 10px 0;
  outline: none;
  cursor: pointer;
  color: #1d1d1d;
  box-shadow: 0 3px 5px -1px #0003, 0 6px 10px #00000024, 0 1px 18px #0000001f;
}

.gap-5{
  gap: 5px;
}

.gap-10{
  gap: 10px;
}

.content{
  width: 80%;
  margin: 0 auto;
  min-height: 70vh;
}

@media screen and (max-width: 1200px) {
  .content{
    width: 90%;
  }
}

@media screen and (max-width: 900px) {
  .content{
    width: 95%;
  }
}

.wrap{
  flex-wrap: wrap;
}

/* ******************* SIGNIN SIGNUP ******************* */
.signup, .signin
{
  height: 70vh;
}

.btn
{
  font-size: 1.4rem;
  height: 40px;
  background-color: #1d1d1d;
  border: none;
  min-width: 100px;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

.form-container
{
  width: 500px;
  position: relative;
  top: 50%;
  left: 50%;
  border: 0.1px solid #ccc;
  transform: translate(-50%, -50%);
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
}

form
{
  padding: 5px;
  background-color: white;
}

form .form-line
{
  min-height: 40px;
  padding: 10px 0;
}

form .form-line input
{
  font-size: 1.1rem;
  height: 40px;
}

@media screen and (max-width: 550px){
  .form-container
  {
    width: 90%;
  }
}

/*************** SINGLE PRODUCT ***************/
